body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.navigation {
    position: absolute;
    top: -10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

.nav-button {
    background-color: #007bff;
    color: white;
    border-radius: 0px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #0056b3;
}

.content {
    z-index: 1;
}

.title {
    margin-bottom: 20px;
    font-size: 3em;
}

.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.region {
    margin: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.region:hover {
    background-color: #0056b3;
}

/* CSS for fixing the popup in the center */
.popup {
    display: none;
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: auto;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.0);
}

.popup-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Additional CSS for styling quests */
.quest-item {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.progress-bar-container {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    margin: 5px 0;
}

.progress-bar {
    height: 20px;
    background-color: #4caf50;
    border-radius: 5px;
}

.increment-progress-button {
    padding: 5px 10px;
    font-size: 0.9em;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: none;
}

.increment-progress-button:hover {
    background-color: #0056b3;
}

/* Update for party member display */
.party-member {
    display: flex;
    align-items: center; /* Align items vertically centered */
    justify-content: space-between;
    padding: 10px;
    margin: 5px 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.party-member span {
    font-weight: bold;
    color: #333;
}

.party-member-status {
    font-size: 0.9em;
    color: #666;
}

.party-member-button {
    padding: 5px 10px;
    font-size: 0.9em;
    color: white;
    background-color: #f44336; /* Red color for the remove button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.party-member-button:hover {
    background-color: #d32f2f; /* Darker red on hover */
}

.remove-member-button {
    font-size: 0.9em;
    color: white;
    background-color: #ff4c4c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
}

.remove-member-button:hover {
    background-color: #d93636;
}

/* Additional CSS for styling friends list */
.friend-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.friend-item .friend-name {
    font-size: 1em;
    color: #333;
    cursor: pointer;
}

.friend-item .buttons-container {
    display: none;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.invite-button,
.remove-friend-button {
    padding: 5px 10px;
    font-size: 0.9em;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.invite-button:hover,
.remove-friend-button:hover {
    background-color: #0056b3;
}

/* Additional styling for the popups */
.popup-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.popup-button:hover {
    background-color: #0056b3;
}
